.mainHeading {
  height: 150px;
  margin-right: 100%;
}

#heading {
  height: 150px;
  width: 100%;
  border-bottom: 4px solid #cccccc;
  position: fixed;
  top: 0;
}

body {
  background: #180201;
}

.btn-start {
  text-align: center;
}

.btn-big {
  width: 200px;
  height: 100px;
  margin-top: 100px;
}

p {
  font-size: 20px;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  color: goldenrod;
}

h4,
h2 {
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  color: goldenrod;
}

.answers {
  display: -webkit-inline-box;
}

input[type="radio"] {
  margin: 0 5px 0 20px;
}

.timer {
  color: bisque;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 25px;
}

.button-reset,
.button-submit {
  text-align: -webkit-center;
}
